<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <style>
            .gridTable {margin: 5px;padding: 10px;border: 1px #c8c8c8 solid;border-collapse: collapse;--min-width: 550px; background-color: #fff;color: #fff;}
            .gridHead th{font-weight: bold;background-color: #030D8D;color: #fff;padding: 10px}
            .gridHead a:link,.gridHead a:visited,.gridHead a:active,.gridHead a:hover {color: #fff;}
            .gridHead a:hover {text-decoration:underline;}
            .gridTable tr.gridAltRow{background-color: #efeeef;}
            .gridTable tr:hover{background-color: #f6f70a;}
            .gridAltRow td{padding: 10px;margin: 5px; color: #333;}
            .gridRow td{padding: 10px;color: #333;}
            .gridFooter td{padding: 10px; background-color: #c7d1d6;color: #999;font-size: 12pt;text-align: center;}
            .gridFooter a{font-weight: bold;color: #333; border: 1px #333 solid;}
        </style>
        
        @Styles.Render("~/Content/mobileCss", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
        <div data-role="page" data-theme="b">
            <div data-role="header">
                @if (IsSectionDefined("Header")) {
                    @RenderSection("Header")
                } else {
                    <h1>@ViewBag.Title</h1>
                    @Html.Partial("_LoginPartial")
                }
            </div>
            <div data-role="content">
                @RenderBody()
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
        @RenderSection("scripts", required: false)
    </body>
</html>
